
<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <% for(item in newListItems){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[item] %></p>
      </div>
      <% } %>

      <form action="/" class="item" method="post">
        <input autocomplete="off" type="text" placeholder="New Item:" name="newItem" />
        <button type="submit" name="list" value=<%=listTitle %> >+</button>
      </form>
    </div> 
<%- include("footer") -%>
